@font-face {
    font-family: "SurtTrial-Bold";
    src: url(./assets/SurtTrial-Bold.woff) format("woff");
}
@font-face {
    font-family: "SurtTrial-Light";
    src: url(./assets/SurtTrial-Light.woff) format("woff");
}
body {
    margin: 0;
}
.container {
    background-color: rgb(225, 229, 237);
    overflow-y: scroll;
}
.title {
    width: 80%;
    font-family: "SurtTrial-Bold";
    font-size: 12rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 0;
    text-align: left;
}
.img-wrapper {
    position: relative;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.description {
    position: absolute;
    display: flex;
    font-family: "SurtTrial-Light";
    color: dimgrey;
    font-size: 2.1rem;
}
.float {
    animation: float;
    animation-duration: 1.8s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes float {
    0% { transform: scale(0.9); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(0.9); } 
}